{{ define "title" }}User Detail{{ end }}
{{ define "header" }}User Detail{{ end }}

{{ define "contents" }}
<!-- カードコンポーネントの例。-->
<div class="uk-align-center">
    <div class="uk-card uk-card-default">
        <div class="uk-card-header">
            <div class="uk-grid-divider uk-grid-small" uk-grid>
                <div class="uk-width-1-4 uk-text-right">User id</div>
                <div class="uk-width-3-4 uk-text-left">{{ .userid }}</div>
            </div>
        </div>
        <div class="uk-card-body">
            <h3 class="uk-card-title">
                <div class="uk-grid-divider uk-grid-small" uk-grid>
                    <div class="uk-width-1-4 uk-text-right">Name</div>
                    <div class="uk-width-3-4 uk-text-left">{{ .name }}</div>
                </div>
            </h3>
            <div class="uk-grid-divider uk-grid-small" uk-grid>
                <div class="uk-width-1-4 uk-text-right">Sex</div>
                <div class="uk-width-3-4 uk-text-left">{{ .sex }}</div>
            </div>
            <div class="uk-grid-divider uk-grid-small" uk-grid>
                <div class="uk-width-1-4 uk-text-right">Age</div>
                <div class="uk-width-3-4 uk-text-left">{{ .age }}</div>
            </div>
        </div>
        <div class="uk-card-footer">
            <a href="/app/list" class="uk-button">Back</a>
        </div>
    </div>
</div>
{{ end }}
