{{ define "title" }}List of users{{ end }}
{{ define "header" }}List of users{{ end }}

{{ define "contents" }}
<form class="uk-margin uk-height-1-1" method="GET" action="/app/search">
    <div class="uk-height-1-1 uk-grid-match uk-grid-small uk-text-center" uk-grid>
        <!--検索条件-->
        <div class="uk-width-1-2@m">
            <input class="uk-input" type="text" name="userid" value="{{ .userid }}" placeholder="Id">
        </div>
        <div class="uk-width-1-2@m">
            <input class="uk-input" type="text" name="name" value="{{ .name }}" placeholder="Name">
        </div>
        <div class="uk-width-1-2@m">
            <input class="uk-input" type="text" name="age" value="{{ .age }}" placeholder="Age">
        </div>
        <div class="uk-width-1-2@m">
            <select class="uk-select" name="sex">
                <option value="">choose...</option>
                <option value="1" {{ if eq .sex "1" }} selected{{end}} >-</option>
                <option value="2" {{ if eq .sex "2" }} selected{{end}} >M</option>
                <option value="3" {{ if eq .sex "3" }} selected{{end}} >F</option>
            </select>
        </div>
        <div class="uk-width-1-2@m">
            <a class="uk-button uk-button-default uk-button-large uk-background-default" href="/app/create">Create</a>
        </div>
        <div class="uk-width-1-2@m">
            <input type="submit" value="Search" class="uk-button uk-margin"/>
        </div>
        <div class="uk-width-2-2@m">
            <hr class="uk-divider-icon">
        </div>
    </div>
</form>
<div class="uk-margin uk-container uk-container-expand uk-height-1-1">
    <div class="uk-grid-divider uk-grid-small uk-child-width-expand uk-text-center uk-height-1-1" uk-grid>
        <div>User id</div>
        <div>Name</div>
        <div>Age</div>
        <div>Sex</div>
        <div>Working</div>
    </div>
    {{range .items}}
        <div class="uk-grid-divider uk-grid-small uk-child-width-expand uk-height-1-1" uk-grid>
            <div>{{ .Userid }}</div>
            <div>{{ .Name }}</div>
            <div>{{ .Age }}</div>
            <div>{{ .Sex }}</div>
            <div>
                <div class="uk-grid-small uk-text-center uk-height-1-1" uk-grid>
                    <div class="uk-width-1-1"><a href="/app/detali/{{ .PK }}" class="uk-button" uk-icon="file-text"></a></div>
                    <div class="uk-width-1-1"><a href="/app/update/{{ .PK }}" class="uk-button" uk-icon="file-edit"></a></div>
                    <div class="uk-width-1-1"><a href="/app/delete/{{ .PK }}" class="uk-button" uk-icon="trash"></a></div>
                </div>
            </div>
        </div>
    {{end}}
</div>
{{ end }}
