# Created by https://www.toptal.com/developers/gitignore/api/cakephp3,laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=cakephp3,laravel

### CakePHP3 ###
# CakePHP 3

/config/app.php
/config/.env
/logs/*
/tmp/*
/vendor/*

### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# End of https://www.toptal.com/developers/gitignore/api/cakephp3,laravel